%% -*- Erlang -*-
{erl_opts, [fail_on_warning, debug_info]}.
{eunit_compile_opts, [verbose, {i, "../"}]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
{profiles, [
  {test, [
    {deps, [
      {katana_test, {git, "https://github.com/inaka/katana-test.git", {tag, "0.0.5"}}},
      {mixer,       {git, "https://github.com/inaka/mixer.git",       {tag, "0.1.5"}}}
    ]}
  ]}
]}.

%%%=============================================================================
%%% COMMON TESTS
%%%=============================================================================
{dialyzer, [
  {plt_prefix, "elarm"},
  {base_plt_prefix, "elarm"}
]}.
