%% -*- Erlang -*-
{erl_opts, [% If erlang version is 18 or above, then an erlang_now_deprecated
            % macro will be created.
            {platform_define, "(?=^[0-9]+)(?!^17)", erlang_now_deprecated},
            fail_on_warning,
            debug_info
           ]}.
{eunit_compile_opts, [verbose, {i, "../"}]}.
{cover_enabled, true}.
{xref_checks, [undefined_function_calls]}.
